.comments__container
    .comments__invisible-box
    .comments__visible-box
        if video.comment.length === 1
            span.comments__number-one 1 comment
        else
            span.comments__number-remainder #{video.comment.length} comments 