.social-login
    a(href=routes.google)
        button.social-login__google
            img(src="https://img.favpng.com/4/11/17/g-suite-pearl-river-middle-school-google-software-suite-email-png-favpng-bjAdXPLu2XCPzWQP9Y4KZsBkV.jpg")
            |Continue with Google
    a(href=routes.github)
        button.social-login__github
            span
                i.fab.fa-github
                |Continue with Github