body {
  background-color: black;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
}

#bodyGrey {
  background-color: $grey;
}

main {
  margin: 0;
  width: 100%;
  max-width: 100%;
  min-height: 100vh;
}

#mainGrey {
  background-color: $grey;
}
