.comments__view-box {
  display: flex;
  overflow-x: hidden;
  overflow-y: scroll;
  flex: 1;
  .comments__list {
    width: 95%;
    .comment__block {
      display: flex;
      margin-bottom: $first-margin;
      padding: $third-padding;
      width: 100%;
      background-color: rgba($color: red, $alpha: 0.4);
      .comment__left {
        .comment__publish-avatar {
          margin-right: $first-margin;
          border-radius: 50%;
          width: 40px;
          height: 40px;
        }
      }
      .comment__right {
        display: flex;
        flex-direction: column;
        .comment__info {
          display: flex;
          align-items: center;
          margin-bottom: 4px;
          .comment__writer {
            margin-right: $first-margin;
            color: rgba($color: blue, $alpha: 0.5);
            font-weight: 600;
            font-size: 1rem;
          }
          .comment__createdAt {
            font-size: 0.8rem;
          }
        }
        .comment__content {
          display: flex;
          margin-bottom: 4px;
          width: 100%;
          font-size: 1rem;
        }
        .hidden {
          display: none;
        }
        .comment__editBox {
          .comment__editForm {
            display: flex;
            flex-direction: column;
            border-radius: 5px;
            .comment__editInput {
              margin-bottom: 5px;
              border: 3px solid rgba($color: black, $alpha: 0.5);
              padding: 5px;
            }
            .editBtnBox {
              align-self: flex-end;
              .comment__editCancelBtn {
                cursor: pointer;
                margin-right: 5px;
                border-radius: 7px;
                border: none;
                padding: 5px;
                width: 80px;
                background-color: black;
                color: white;
                font-size: 0.8rem;
              }
              .comment__editSaveBtn {
                cursor: pointer;
                border-radius: 7px;
                border: none;
                padding: 5px;
                width: 80px;
                background-color: red;
                color: white;
                font-size: 0.8rem;
              }
            }
          }
        }

        .comment__subinfo {
          display: flex;
          align-items: center;
          .comment__heart {
            margin-right: $first-margin;
            cursor: pointer;
            .fa-heart {
              margin-right: 5px;
              transition: all 0.3s ease-in-out;
              &:hover,
              &:focus {
                transform: scale(1.3);
                color: $red;
              }
            }
          }
          .comment__reply {
            margin-right: $first-margin;
            cursor: pointer;
            .fa-reply {
              color: rgba($color: black, $alpha: 0.5);
              transition: all 0.3s ease-in-out;
              &:hover,
              &:focus {
                transform: scale(1.3);
                color: black;
              }
            }
          }
          .comment__editBtn {
            cursor: pointer;
            margin-right: $first-margin;
            .fa-edit {
              transition: all 0.3s ease-in-out;
              &:hover,
              &:focus {
                transform: scale(1.3);
                color: blue;
              }
            }
          }
          .comment__deleteBtn {
            cursor: pointer;
            .fa-trash-alt {
              transition: all 0.3s ease-in-out;
              &:hover,
              &:focus {
                transform: scale(1.3);
                color: red;
              }
            }
          }
        }
      }
    }
    .reply__box {
      display: flex;
      .reply__form {
        width: 100%;
        .reply__input {
          border-radius: 7px;
          padding: $third-padding;
          width: 100%;
          font-size: 1rem;
        }
      }
    }
    .hidden {
      display: none;
    }
  }
}
