.comments__container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  flex: 1;
  padding: 15px 0px 15px 15px;
  box-shadow: 0 0 10px 3px;
  .comments__count {
    font-weight: 600;
    font-size: 20px;
    padding-bottom: 15px;
  }
  .comments__submit-box {
    display: flex;
    align-items: center;
    padding-bottom: $first-margin;
    .comment__loginAvatar {
      border-radius: 50%;
      margin-right: $first-margin;
      width: 50px;
      height: 50px;
    }
    .comment__UnLoginAvatar {
      padding-right: $first-margin;
      font-size: 25px;
    }
    .add__formComment {
      display: flex;
      width: 90%;
      .add__inputComment {
        border-radius: 7px;
        padding: $third-padding;
        width: 90%;
        font-size: 18px;
      }
    }
  }
  .comments__view-box {
    display: flex;
    overflow-x: hidden;
    overflow-y: scroll;
    flex: 1;
    .comments__list {
      width: 95%;
      .comments__eachlist {
        padding-bottom: $third-padding;
        display: flex;
        align-items: center;
        width: 100%;
        .comments__publish-avatar {
          margin-right: $first-margin;
          border-radius: 50%;
          width: 40px;
          height: 40px;
        }
      }
    }
  }
}
