.comments__container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  flex: 1;
  position: relative;
  padding: 15px 0px 15px 15px;
  box-shadow: 0 0 10px 3px;
  .addCompleteModal {
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    padding: 10px;
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 1.2rem;
    background-color: rgba($color: red, $alpha: 0.4);
    color: white;
  }
  .comments__count {
    font-weight: 600;
    font-size: 20px;
    padding-bottom: 15px;
  }
  .comments__submit-box {
    display: flex;
    align-items: center;
    padding-bottom: 5px;
    .comment__loginAvatar {
      border-radius: 50%;
      margin-right: $first-margin;
      width: 50px;
      height: 50px;
    }
    .comment__UnLoginAvatar {
      margin-right: $first-margin;
      font-size: 40px;
    }
    .add__formComment {
      display: flex;
      width: 90%;
      .add__inputComment {
        border-radius: 7px;
        padding: $third-padding;
        width: 90%;
        font-size: 18px;
      }
    }
  }
  .comments__btnBox {
    display: flex;
    justify-content: flex-end;
    margin-right: 10%;
    margin-bottom: $first-margin;
    .cancel__btn {
      margin-right: 1rem;
      border-radius: 7px;
      border: none;
      padding: 8px;
      width: 100px;
      background-color: $black;
      color: white;
    }
    .comment__btn {
      border-radius: 7px;
      border: none;
      padding: 8px;
      width: 100px;
      background-color: $red;
      color: white;
    }
  }
  .hidden {
    display: none;
  }
}
