.videoPlayer {
  position: relative;
  cursor: pointer;
  video {
    width: 100%;
    max-width: $first-width;
  }
  .videoPlayer__controls {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 15px;
    width: 100%;
    position: absolute;
    bottom: 0;
    background-color: black;
    font-size: 18px;
    .videoPlayer__column:first-child {
      display: flex;
      align-items: center;
    }
    .videoPlayer__column:last-child {
      display: flex;
      align-items: center;
      justify-self: end;
    }
    span {
      color: white;
    }
    span i {
      margin-right: $first-margin;
      font-size: 22px;
      cursor: pointer;
    }
  }
}
