extends layouts/mainGrey.pug

block content
    .form-container
        h3 Edit Video
        form(action=routes.editVideo(video.id), method="post")
            input(type="text", name="title", placeholder="Tiltle", value=video.title)
            textarea(name="description", placeholder="Please write the video description within 20 Characters", maxlength="50")=video.description
            input(type="submit", value="Update Video")
        a.form-container__link.form-container__link--delete(href=routes.deleteVideo(video.id)) Delete Video