extends layouts/mainGrey.pug

block content
    .form-container
        .record-container#jsRecordContainer
            h2 Upload Video
            video#jsVideoPreview 
            button#jsRecordBtn Start Recording
        form(action=`/videos${routes.upload}`, id="upload-form" method="post", enctype="multipart/form-data")
            input(type="file", id="file", name="videoFile", required=true, accept="video/*")
            input(type="text", name="title", placeholder="Title", required=true)
            textarea(name="description", placeholder="Description", required=true)
            input(type="submit", id="form-submit" value="Upload Video")
        