extends layouts/subMainBlack.pug
include mixins/videoBlock

block content
    .userDetail__wrapper
        .uploaded-videos__container
            h3.videos__category Uploaded Videos
            .uploaded__videos
                each item in user.videos
                    +videoBlock({
                        id:item.id,
                        title:item.title,
                        views:item.views,
                        createdAt: item.createdAt,
                        videoFile:item.fileUrl,
                        imgFile:item.creator.avatarUrl,
                        name:item.creator.name,
                        creator:item.creator.id
                    })
        .user-profile__container
            .user-profile
                .user-profile__header
                    img.avatar(src=user.avatarUrl)
                    h4.profile__username#jsUserName=user.name
                if loggedUser && user.id === loggedUser.id
                    .user-profile__btns
                        a(href=`/users${routes.editProfile}`)
                            button.btns__editProfile 🛠 Edit Profile
                        a(href=`/users${routes.changePassword}`)
                            button.btns__changePassword 🔑 Change Password
        .liked-videos__container
            h3.videos__category Liked Videos
            .liked__videos
                each item in user.likeVideos
                    +videoBlock({
                        id:item.id,
                        title:item.title,
                        views:item.views,
                        createdAt: item.createdAt,
                        videoFile:item.fileUrl,
                        imgFile:item.creator.avatarUrl,
                        name:item.creator.name,
                        creator:item.creator.id
                    })