// Flash Messages Animation
@keyframes flashAnimation {
  0% {
    transform: translateX(100%);
  }
  10% {
    transform: translateX(0);
  }
  90% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

.flash__message__container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  z-index: 20;
  height: 55px;
  animation: flashAnimation 2s ease-in-out forwards;
  &.error {
    background-color: blue;
  }
  &.success {
    background-color: red;
  }
  &.info {
    background-color: black;
  }
  .flash__message__text {
    color: white;
    font-size: 1rem;
  }
}
