.header {
  background-color: $red;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 10;
  .header__wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    margin: 0 auto;
    max-width: 90vw;
    height: 55px;
    .header__column {
      &:first-child {
        a {
          display: flex;
          align-items: center;
          width: 155px;
          color: $white;
          i {
            font-size: 30px;
          }
          h5 {
            padding-left: 10px;
            font-weight: 600;
            font-size: 18px;
          }
        }
      }
      &:nth-child(2) {
        justify-self: center;
        width: 100%;
        form {
          display: flex;
          justify-content: center;
          input {
            padding: 5px 10px;
            width: 80%;
            border-radius: 3px;
          }
          button {
            width: 50px;
            height: 30px;
            background-color: $grey;
            border: 1px solid rgba($color: $black, $alpha: 0.8);
            border-radius: 5px;
          }
        }
      }
      &:last-child {
        justify-self: end;
        ul {
          display: flex;
          align-items: center;
          li {
            font-size: 20px;
            font-weight: 600;
            a {
              color: white;
              text-transform: uppercase;
            }
          }
          li:not(:last-child) {
            padding-right: 15px;
          }
        }
      }
    }
  }
}
