// User Detail Template SCSS
.userDetail__wrapper {
  display: grid;
  grid-template-columns: 3fr 1fr 3fr;
  grid-auto-rows: minmax(20px, auto);
  gap: 10px;
  flex-wrap: wrap;
  padding: $five-padding 40px 40px 40px;
  height: 95vh;
  .uploaded-videos__container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(50%, 100%));
    grid-template-rows: 0.3fr 9.7fr;
    gap: 10px;
    flex-wrap: wrap;
    background-color: black;
    color: white;
    .videos__category {
      color: white;
      font-size: 1.2rem;
    }
    .uploaded__videos {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(45%, 49%));
      gap: 5px;
      padding: $third-padding $third-padding;
      overflow-x: hidden;
      overflow-y: auto;
      .videoBlock {
        a {
          display: flex;
          flex-direction: column;
          height: 100%;
          color: white;
          .videoBlock__main-box {
            position: relative;
            margin-bottom: 10px;
            width: 100%;
            height: auto;
            .videoBlock__video {
              width: 100%;
              height: auto;
            }
            .videoBlock__thumbnail {
              position: absolute;
              top: 0;
              left: 0;
              pointer-events: none;
              border: 0;
              width: 100%;
              height: 100%;
              &.hidden {
                display: none;
              }
            }
          }
          .videoBlock__sub-box {
            display: flex;
            .left .videoBlock__img {
              width: 40px;
              height: 40px;
              border-radius: 50%;
              margin-right: $first-margin;
            }
            .right {
              display: flex;
              flex-direction: column;
              .videoBlock__title,
              .videoBlock__creator,
              .videoBlock__views {
                margin-bottom: 5px;
                font-size: 0.8rem;
              }
            }
          }
        }
      }
    }
    // Upload Videos Container Scroll Bar SCSS
    .uploaded__videos {
      scrollbar-color: #ff9a9e #f5f5f5;
    }
    .uploaded__videos::-webkit-scrollbar {
      width: 12px;
      background-color: white;
      border-radius: 10px;
    }
    .uploaded__videos::-webkit-scrollbar-thumb {
      border-radius: 10px;
      -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
      background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        from(#ff9a9e),
        color-stop(99%, #fecfef),
        to(#fecfef)
      );
      background-image: -webkit-linear-gradient(
        bottom,
        #ff9a9e 0%,
        #fecfef 99%,
        #fecfef 100%
      );
      background-image: linear-gradient(
        to top,
        #ff9a9e 0%,
        #fecfef 99%,
        #fecfef 100%
      );
    }
    .uploaded__videos::-webkit-scrollbar-track {
      -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
      background-color: #f5f5f5;
      border-radius: 10px;
    }
  }
  .user-profile__container {
    .user-profile {
      .user-profile__header {
        display: flex;
        flex-direction: column;
        align-items: center;
        img {
          border-radius: 10%;
          width: 200px;
          height: 200px;
          margin-bottom: $third-margin;
        }
        h4 {
          margin-bottom: $third-margin;
          font-weight: 600;
          font-size: 25px;
          color: white;
        }
      }
      .user-profile__btns {
        display: flex;
        flex-direction: column;
        align-items: center;
        a {
          margin-bottom: $first-margin;
          button {
            border-radius: 8px;
            border: none;
            padding: 10px 10px;
            width: 250px;
            color: $white;
            &:hover {
              border: 3px solid rgba($color: $light-blue, $alpha: 0.5);
            }
          }
          .btns__editProfile {
            background-color: lightgreen;
          }
          .btns__changePassword {
            background-color: $red;
          }
        }
      }
    }
  }
  .liked-videos__container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(50%, 100%));
    grid-template-rows: 0.3fr 9.7fr;
    gap: 10px;
    flex-wrap: wrap;
    background-color: black;
    color: white;
    .videos__category {
      color: white;
      font-size: 1.2rem;
    }
    .liked__videos {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(45%, 49%));
      gap: 5px;
      padding: $third-padding $third-padding;
      overflow-x: hidden;
      overflow-y: auto;
      .videoBlock {
        a {
          display: flex;
          flex-direction: column;
          height: 100%;
          color: white;
          .videoBlock__main-box {
            position: relative;
            margin-bottom: 10px;
            width: 100%;
            height: auto;
            .videoBlock__video {
              width: 100%;
              height: auto;
            }
            .videoBlock__thumbnail {
              position: absolute;
              top: 0;
              left: 0;
              pointer-events: none;
              border: 0;
              width: 100%;
              height: 100%;
              &.hidden {
                display: none;
              }
            }
          }
          .videoBlock__sub-box {
            display: flex;
            .left .videoBlock__img {
              width: 40px;
              height: 40px;
              border-radius: 50%;
              margin-right: $first-margin;
            }
            .right {
              display: flex;
              flex-direction: column;
              .videoBlock__title,
              .videoBlock__creator,
              .videoBlock__views {
                margin-bottom: 5px;
                font-size: 0.8rem;
              }
            }
          }
        }
      }
    }
    // like Videos Container Scroll Bar SCSS
    .liked__videos {
      scrollbar-color: #ff9a9e #f5f5f5;
    }
    .liked__videos::-webkit-scrollbar {
      width: 12px;
      background-color: white;
      border-radius: 10px;
    }
    .liked__videos::-webkit-scrollbar-thumb {
      border-radius: 10px;
      -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
      background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        from(#ff9a9e),
        color-stop(99%, #fecfef),
        to(#fecfef)
      );
      background-image: -webkit-linear-gradient(
        bottom,
        #ff9a9e 0%,
        #fecfef 99%,
        #fecfef 100%
      );
      background-image: linear-gradient(
        to top,
        #ff9a9e 0%,
        #fecfef 99%,
        #fecfef 100%
      );
    }
    .liked__videos::-webkit-scrollbar-track {
      -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
      background-color: #f5f5f5;
      border-radius: 10px;
    }
  }
}

// Media Query 1024px 이하인 경우 적용되는 SCSS
@media (max-width: 1024px) {
  .userDetail__wrapper {
    padding: $five-padding 30px 30px 30px;
    .uploaded-videos__container {
      grid-template-columns: repeat(auto-fill, minmax(100%, 100%));
      gap: 7px;
      .videos__category {
        font-size: 1rem;
      }
      .uploaded__videos {
        grid-template-columns: repeat(auto-fill, minmax(100%, 100%));
        padding: 7px 7px;
        .videoBlock a {
          .videoBlock__video {
            margin-bottom: 7px;
          }
          .videoBlock__sub-box {
            .left .videoBlock__img {
              width: 30px;
              height: 30px;
              margin-right: 7px;
            }
          }
        }
      }
    }
    .user-profile__container {
      .user-profile {
        .user-profile__header {
          img {
            width: 175px;
            height: 175px;
          }
          h4 {
            font-size: 1.2rem;
          }
        }
        .user-profile__btns a button {
          width: 200px;
        }
      }
    }
    .liked-videos__container {
      grid-template-columns: repeat(auto-fill, minmax(100%, 100%));
      gap: 7px;
      .videos__category {
        font-size: 1rem;
      }
      .liked__videos {
        grid-template-columns: repeat(auto-fill, minmax(100%, 100%));
        padding: 7px 7px;
        .videoBlock a {
          .videoBlock__video {
            margin-bottom: 7px;
          }
          .videoBlock__sub-box {
            .left .videoBlock__img {
              width: 30px;
              height: 30px;
              margin-right: 7px;
            }
          }
        }
      }
    }
  }
}

// Media Query 720px 이하인 경우 적용되는 SCSS
@media (max-width: 720px) {
  .userDetail__wrapper {
    padding: $five-padding 20px 20px 20px;
    .uploaded-videos__container {
      gap: 5px;
      .videos__category {
        font-size: 1rem;
      }
      .uploaded__videos {
        padding: 5px 5px;
        .videoBlock a {
          .videoBlock__video {
            margin-bottom: 5px;
          }
          .videoBlock__sub-box {
            .left .videoBlock__img {
              width: 20px;
              height: 20px;
              margin-right: 5px;
            }
            .right {
              .videoBlock__title,
              .videoBlock__creator,
              .videoBlock__views {
                font-size: 0.6rem;
              }
            }
          }
        }
      }
    }
    .user-profile__container {
      .user-profile {
        .user-profile__header {
          img {
            width: 175px;
            height: 175px;
          }
          h4 {
            font-size: 1rem;
          }
        }
        .user-profile__btns a button {
          width: 175px;
        }
      }
    }
    .liked-videos__container {
      gap: 5px;
      .videos__category {
        font-size: 1rem;
      }
      .liked__videos {
        padding: 5px 5px;
        .videoBlock a {
          .videoBlock__video {
            margin-bottom: 5px;
          }
          .videoBlock__sub-box {
            .left .videoBlock__img {
              width: 20px;
              height: 20px;
              margin-right: 5px;
            }
            .right {
              .videoBlock__title,
              .videoBlock__creator,
              .videoBlock__views {
                font-size: 0.6rem;
              }
            }
          }
        }
      }
    }
  }
}
