.video__wrapper {
  display: grid;
  grid-template-columns: 58% 42%;
  grid-template-rows: 100%;
  height: 100vh;
  padding-top: $second-padding;
  .video__container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    position: relative;
    width: 100%;
    padding: 0 15px;
    .addCompleteModalVideo {
      border-top-right-radius: 30px;
      border-bottom-right-radius: 30px;
      padding: 10px;
      position: absolute;
      top: 0;
      left: 0;
      font-size: 1.2rem;
      background-color: rgba($color: red, $alpha: 0.4);
      color: white;
    }
    .video__edit-box {
      padding: 0px 0px 5px 0px;
      display: flex;
      justify-content: flex-end;
      a button {
        border: 4px solid rgba($color: $grey, $alpha: 1);
        border-radius: 5px;
        padding: 5px 20px;
        color: $white;
        background-color: $red;
        font-weight: 600;
        font-size: 17px;
        &:hover,
        &:focus {
          border: 4px solid rgba($color: $light-blue, $alpha: 0.7);
        }
      }
    }
    .video__info-one,
    .video__info-two {
      border-bottom: 1px solid rgba($color: $black, $alpha: 0.3);
      padding: $third-padding;
      width: 100%;
    }
    .video__info-one {
      h5 {
        margin-bottom: $first-margin;
        font-weight: 600;
        font-size: 20px;
      }
      .video__subtitle {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        .video__views {
          margin-bottom: $first-margin;
          font-size: 18px;
        }
        .video__likes .like,
        .video__likes .dislike {
          cursor: pointer;
          margin-right: $first-margin;
          i {
            color: rgba($color: black, $alpha: 0.5);
            padding-right: $third-padding;
            transition: color 0.3s ease-in-out;
          }
          i:hover {
            color: black;
          }
        }
        .video__likes .selected .fa-thumbs-up,
        .video__likes .selected .fa-thumbs-down {
          color: black;
        }
      }
    }
    .video__info-two {
      font-size: 15px;
      .video__creator {
        display: flex;
        margin-bottom: 10px;
        a {
          margin-left: $first-margin;
          color: rgba($color: blue, $alpha: 0.5);
          font-weight: 600;
        }
      }
      .video__despription {
      }
    }
    .hidden {
      display: none;
    }
    @keyframes notificationAnimationTwo {
      0% {
        transform: translateX(-350px);
      }
      20% {
        transform: none;
      }
      80% {
        transform: none;
      }
      100% {
        transform: translateX(-350px);
      }
    }
    .transitionTwo {
      animation: notificationAnimationTwo 2s ease-in-out;
    }
  }
}

// 스크린이 1024px 이하인 경우(Media Query)
@media only screen and (max-width: 1024px) {
  .video__wrapper {
    grid-template-columns: 100%;
    grid-template-rows: 100% 100%;
    flex-wrap: wrap;
    .video__container {
      max-width: none;
      .video__edit-box {
        display: flex;
        justify-content: center;
        .video__edit-center {
          display: flex;
          justify-content: flex-end;
          width: 100%;
          max-width: 870px;
        }
      }
      .videoPlayer {
        max-width: none;
        video {
          max-width: none;
        }
        .videoPlayer__Bar {
          align-items: center;
          .videoPlayer__progressBar,
          .videoPlayer__controls {
            max-width: 870px;
          }
        }
      }
    }
    .replies__view-box {
      .replies__list {
        width: 93%;
      }
    }
  }
}

// 모바일 스크린이 1024px 이하인 경우(Mdeia Query)
@media only screen and (max-device-width: 1024px) {
  .video__wrapper {
    grid-template-columns: 100%;
    grid-template-rows: auto minmax(50%, auto);
    flex-wrap: wrap;
    .video__container {
      max-width: none;
      margin-bottom: $first-margin;
      .addCompleteModalVideo {
        font-size: 2rem;
      }
      .video__edit-box .video__edit-center a button {
        font-size: 2rem;
      }
      .videoPlayer {
        max-width: none;
        video {
          max-width: none;
        }
      }
      .video__info-one,
      .video__info-two {
        font-size: 2rem;
      }
      .video__info-one {
        .video__title {
          font-size: 2rem;
        }
        .video__subtitle {
          .video__views,
          .video__likes {
            font-size: 2rem;
          }
        }
      }
    }
    .comments__container {
      .comments__count {
        font-size: 1.5rem;
      }
    }
  }
}
