.search {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(20%, 25%));
  grid-auto-rows: minmax(20px, auto);
  gap: 10px;
  flex-wrap: wrap;
  padding: $first-padding 40px 40px 40px;
  background-color: black;
  color: white;
  .search__header {
    grid-column: 1/5;
    grid-row: 1;
    border-bottom: 3px solid white;
    padding-bottom: $third-padding;
    font-size: 1.5rem;
  }
  .videoBlock {
    transition: transform 300ms ease-in-out;
    a {
      display: flex;
      flex-direction: column;
      height: 100%;
      color: white;
      .videoBlock__thumbnail {
        margin-bottom: 10px;
        width: 100%;
        height: auto;
      }
      .videoBlock__description {
        display: flex;
        .left .videoBlock__img {
          width: 40px;
          height: 40px;
          border-radius: 50%;
          margin-right: $first-margin;
        }
        .right {
          display: flex;
          flex-direction: column;
          .videoBlock__title,
          .videoBlock__creator,
          .videoBlock__views {
            margin-bottom: 5px;
            font-size: 1rem;
          }
        }
      }
    }
  }
  .videoBlock:hover {
    transform: scale(1.1);
    background-color: white;
  }
  .videoBlock:hover a {
    color: black;
  }
  .videoBlock::after {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    top: 0;
    left: 0;
    content: "";
    border-radius: 4px;
    box-shadow: 0px 0px 50px -4px rgba($color: white, $alpha: 0.75);
    opacity: 0;
    transition: opacity 300ms ease-in-out;
  }
  .videoBlock:hover::after {
    opacity: 1;
  }
}

@media (max-width: 1024px) {
  .search {
    grid-template-columns: repeat(auto-fill, minmax(33.33%, 33.33%));
    .search__header {
      grid-column: 1/4;
      grid-row: 1;
    }
    .videoBlock a .videoBlock__description .right .videoBlock__title,
    .videoBlock a .videoBlock__description .right .videoBlock__creator,
    .videoBlock a .videoBlock__description .right .videoBlock__views {
      font-size: 0.8rem;
    }
  }
}

@media (max-width: 720px) {
  .search {
    grid-template-columns: repeat(auto-fill, minmax(50%, 50%));
    .search__header {
      grid-column: 1/3;
      grid-row: 1;
    }
    .videoBlock a .videoBlock__description .right .videoBlock__title,
    .videoBlock a .videoBlock__description .right .videoBlock__creator,
    .videoBlock a .videoBlock__description .right .videoBlock__views {
      font-size: 0.6rem;
    }
  }
}
