.video__wrapper {
  display: flex;
  height: 100vh;
  padding-top: $second-padding;
  .video__container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 100%;
    max-width: $first-width;
    padding: 0 15px;
    .video__edit-box {
      padding: 0px 0px 5px 0px;
      display: flex;
      justify-content: flex-end;
      a button {
        border: 4px solid rgba($color: $grey, $alpha: 1);
        border-radius: 5px;
        padding: 5px 20px;
        color: $white;
        background-color: $red;
        font-weight: 600;
        font-size: 17px;
        &:hover,
        &:focus {
          border: 4px solid rgba($color: $light-blue, $alpha: 0.7);
        }
      }
    }
    .video__info-one,
    .video__info-two {
      border-bottom: 1px solid rgba($color: $black, $alpha: 0.3);
      padding: $third-padding;
      width: 100%;
    }
    .video__info-one {
      h5 {
        margin-bottom: $first-margin;
        font-weight: 600;
        font-size: 20px;
      }
      .video__subtitle {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        .video__views {
          margin-bottom: $first-margin;
          font-size: 18px;
        }
        .video__likes .like,
        .video__likes .dislike {
          cursor: pointer;
          margin-right: $first-margin;
          i {
            color: rgba($color: black, $alpha: 0.5);
            padding-right: $third-padding;
            transition: color 0.3s ease-in-out;
          }
          i:hover {
            color: black;
          }
        }
        .video__likes .selected .fa-thumbs-up,
        .video__likes .selected .fa-thumbs-down {
          color: black;
        }
      }
    }
    .video__info-two {
      font-size: 15px;
      .video__creator {
        display: flex;
        align-items: center;
        margin-bottom: 10px;
        a {
          margin-left: $first-margin;
          color: rgba($color: blue, $alpha: 0.5);
          font-weight: 600;
        }
      }
      .video__despription {
      }
    }
  }
}
